*{
    margin: 0;
    padding: 0;     
}

/* estilo pag inicial --------------------------------------------------------- */

.borda{
    border: 2px solid red;
}

main{
    margin-bottom: 100px;
}

.container-topo{

    height: 200px;
    background-size: cover;
    background-position: 50% 40%;
    background-image: url('./imagens/imagem-3.jpeg');
    filter: brightness(90%);

    & img{
        opacity: 0; /* Inicialmente, o texto estará transparente */
        animation: animar-logo 3s forwards, animar-opacidade 3s forwards;
        background-size: cover;
        max-width: 800px;
        width: 100%;
    }
}

.container-box{
    max-width: 800px;
    opacity: 0; /* Inicialmente, o texto estará transparente */
    animation: animar-texto 2s forwards, animar-opacidade 2s forwards; /* Animação do texto e da opacidade */
    
    & h1{
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
}


.imagem-logo{
    max-height: 150px;
}

details{
    border: 1px solid #ccc;
    
    & p{
        border-left: 3px solid gray;
        padding: 5px;
        margin-left: 3.5px;
    }
    
}


.button-home{
    display: flex;
    justify-content: center;
    text-decoration: none;
    width: 350px;
    background: #9E6849;
    color: white;
    border-radius: 30px;
    padding: 8px;
    transition: 0.3s ease-in-out;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3)
}

.button-home:hover{
    background: #794f37;
    color: white;
    scale: 1.05;
}

.carousel{
    max-width: 500px;
    height: 440px;

    & .carousel-prev{
    width: 40px;
    left: -20px;
    }

    & .carousel-next{
    width: 40px;
    right: -20px;
    }
    & .carousel-ind{
        bottom: -40px;
    }
    & .grid-item{
        border: 2px solid #706661;
        box-shadow:50px 50px inset gray;
    }
}



/* estilo pag formulario --------------------------------------------- */

.container-topo-form{
    height: 150px;
    background-size: cover;
    background-position: center;
    background-image: url('./imagens/imagem-1.jpeg');
}

.imagem-topo-dark-form{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.imagem-topo-form{
    width: 100%;
}

.imagem-topo-logo-form{
    opacity: 0; /* Inicialmente, o texto estará transparente */
    animation: animar-logo 3s forwards, animar-opacidade 3s forwards;
}

.container-form{
    max-width: 450px;

    & .code-ddi{
        background: transparent;
        border: 1px solid grey;
    }

    & .text-area,.text-area:focus,.text-area::after,
    input[type="text"],input[type="text"]:hover,input[type="text"]:focus,input[type="text"]::after,
    input[type="email"],input[type="email"]:hover,input[type="email"]:focus,input[type="email"]::after,
    input[type="textarea"]
    {
        background-color: transparent;
        border: 2px solid grey;
    }
    & .button-form{
        font-size: small;
        display: flex;
        border: none;
        justify-content: center;
        text-decoration: none;
        width: 250px;
        background: #9E6849;
        color: white;
        border-radius: 30px;
        padding: 8px;
        margin-bottom: 60px;
        transition: 0.3s ease-in-out;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3)
    }

    & .button-form:hover{
        background: #794f37;
        color: white;
        scale: 1.05;
    }

}




.imagem-topo-form{
    background-size: cover;
    max-width: 800px;
}


/* configuração radio ------------------------------------------------------------------------- */
.container-radio label {
    display: flex;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    margin-bottom: 0.375em;
}
  
.container-radio  label input {
    position: absolute;
    left: -9999px;
}
  
.container-radio label input:checked {
    background-color: gray;
    color: white;
}
.container-radio label input:checked + span:before {
    animation: animar-logo 0.3s forwards, animar-opacidade 0.3s forwards;
    background-color: #9E6849; /* Cor de fundo quando marcado */
    border: 1px solid #9E6849;
}
  
.container-radio label span {
    display: flex;
    align-items: center;
    border-radius: 99em;
    transition: 0.25s ease;
}
  
.container-radio label span:before {
    display: flex;
    flex-shrink: 0;
    content: "";
    background-color:#ffffff;
    width: 1.2em;
    height: 1.2em;
    border: 2px solid grey;
    border-radius: 50%;
    margin-right: 0.375em;
}


/* configuração select ------------------------------------------------------------------------- */
.select-input{
    border: 2px solid grey;
    color: rgb(34, 34, 34);
    background-color: white;
    border-radius: 15px;
    padding-left: 5px;
}
.select-input::after{
    border: 2px solid grey;
    color: rgb(34, 34, 34);
    background-color: white;
    border-radius: 1px;
    padding-left: 5px;
}


option{
    color: rgb(34, 34, 34);
    background-color: white;
}

/* amimacoes -------------------------------------------------------------------- */

@keyframes animar-texto {
    0% {
        opacity: 0; /* Texto totalmente transparente */
        transform: translateX(-15%); /* Move o texto para a esquerda fora da tela */
    }
    100% {
        opacity: 1; /* Texto totalmente visível */
        transform: translateX(0); /* Move o texto de volta para a posição original */
    }
}

@keyframes animar-logo {
    0% {
        opacity: 0; /* Texto totalmente transparente */
        
    }
    100% {
        opacity: 1; /* Texto totalmente visível */
        
    }
}

.total-form{
    max-width: 400px;
    border: 2px solid gray;
    border-radius: 10px;
    font-size: 13px;
}

video{
    max-width: 400px;
    animation: animar-texto 2s forwards, animar-opacidade 2s forwards;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.25);
}

.tocofobia{
    max-width: 600px;
    font-size: small;
    justify-content: center;
    
    h1{
        font-size: medium;
    }
}

#loader{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 3px solid;
    border-color: #9E6849 white ;
    animation: loader .8s linear reverse infinite;

}

@keyframes loader {
    0% {rotate: 0;}
    100% {rotate: 360deg;}
    
}